
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    margin-top: 40px;
    color: #4CAF50;
    font-size: 36px;
}


form {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


.hasil {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hasil h2 {
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 15px;
}

.hasil ul {
    list-style-type: none;
    padding: 0;
}

.hasil li {
    font-size: 18px;
    padding: 8px 0;
}


.error {
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}
